<body>



    <style>
        body {
            background-color: #d8d1d1;
            margin-top: 6rem;
            margin-left: -16rem;
        }
        
.slide-down {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: arial;

        }

        body {
            background: #eee;
        }

        .wrapper {
            position: absolute;
        }

        .sidebar {
            position: relative;
            width: 250px;
            height: 43rem;
            background: #3b3b3b;
            padding: 10px 0;

        }

        .wrapper .sidebar ul li {
            padding: 15px;
        }

        .wrapper .sidebar ul li a {
            color: #bdb8d7;
            display: block;
        }

        .wrapper .sidebar ul li a .fas {
            width: 25px !important;
        }

        .wrapper .sidebar ul li a .far {
            width: 25px !important;
        }

        .wrapper .sidebar ul li:hover {
            background: #311B92;
        }

        .wrapper .sidebar ul li a:hover {
            color: #fff;
            text-decoration: none;
        }

        .myproject {
            margin-top: 25px;
            color: #ffffffa8;
            font-size: 14px;
            margin-bottom: 0;
        }

        .userProfile {
            position: absolute;
            bottom: 0;
            left: 5%;
            display: flex;

        }

        .userProfile a {
            width: 20px;
            background: #4527A0;
            color: #bdb8d7;
            text-decoration: none;
            font-size: 15px;
        }
    .innerSide {

            margin-top: 4rem;
            border-radius: 2rem;
            background-color: white;
            box-shadow: 13px;


        }

        .pic {
            margin-left: 19rem;
            margin-right: 2rem;
        }
    </style>
    <div class="page-container slide-down">
       
        <div class="pic">
            
            <table class="table table-bordered mt-4" id="productsTable" >
                <thead>
                    <tr>
                        
                        <th scope="col">Date</th>
                         <th scope="col">Address</th>
                        <th scope="col">pincode</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Go</th>


                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        {{!-- <td><img style="width:50px; height:50px" src="/public/images/{{this.products.item}}.jpg" alt=""></td> --}}
                        
                        <td>{{this.Date}}</td>
                        <td>{{this.deliveryDetails.address}}</td>
                         <td>{{this.deliveryDetails.pincode}}</td>
                          <td>{{this.deliveryDetails.mobile}}</td>
                           <td>{{this.totalAmount}}</td>
                           <td>{{this.paymentMethod}}</td>
                          <td>{{this.status}}</td>                                                                                                                                              
                        <td>
                            {{#if (eq this.status "Delivered")}}
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                            {{!-- <a onclick="cancelProduct('{{this._id}}')" class="btn btn-danger">View Products</a> --}}
                            <a onclick="return confirm('Are you sure you want to return this order?') && ReturnProduct('{{this._id}}')" class="btn btn-danger">Return Order</a>
                            {{/if}}
                            {{#if (eq this.status "placed")}}
                            
                            <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                         <a onclick="return confirm('Are you sure you want to cancel this order?') && cancelProduct('{{this._id}}')" class="btn btn-danger">Cancel Order</a>
                            {{/if}}
                            {{#if (eq this.status "Cancelled")}}
                             <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                            {{/if}}
                           

                           
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

    </div>

</body>

<script>
  $(function(){
    $('#productsTable').DataTable({
        "dom": '<"top"i>rt<"bottom"flp><"clear">',
    });
  })
</script>

<script>
    function cancelProduct(orderId){
        console.log(orderId)
        $.ajax({
            url:'/cancel-order',
            method:'POST',
            data:{
                orderId:orderId
            },
            success:function(response){
                location.reload();
            }
        })
    }
       function ReturnProduct(orderId){
        console.log(orderId)
        $.ajax({
            url:'/return-order',
            method:'POST',
            data:{
                orderId:orderId
            },
            success:function(response){
                location.reload();
            }
        })
    }
</script>