


<body>
    
    <style>
        body{
            background-image: url(/public/project-images/blur.jpg);
        }
       .bg-image{
            background-color:#ffde31;
            
        }
          .gif-image {
           
            width: 100%;
        }
                    
                    .title-style{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 20px;
            color: hsl(52, 0%, 98%);
            }
            .title-quote{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 400;
            color: hsl(52, 0%, 98%);
            }
                </style>

<div class="container py-5">
   <div class="container py-5" style="overflow-y: scroll; max-height: 500px;">

      <h3 class="mb-4" style="

          background: #e3c100;
          color: black;
          text-align: center;">Select an Address</h3>

      <!-- Address Cards -->
      {{#each addresses}}
      <div class="address-cards">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title "><i class="bi bi-person-circle"></i> {{this.address.name}}</h5>
            <p class="card-text">{{this.address.address}}</p>
            <p class="card-text">{{this.address.pincode}}</p>


            <!-- Select Address Radio Button -->
        

            <!-- Edit and Delete Buttons -->
            <div class="text-end mt-3">
        
              <button class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark"
                onclick="deleteAddress('{{this._id}}')">delete</button>



                  <button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark"
                    data-toggle="modal" data-target="#editAddressModal">Edit</button>
    
                <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog"
                  aria-labelledby="editAddressModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModal">Edit Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/edit-address" method="POST">
                          <label for="">Name</label>
                          <input type="text" name="name" value="{{this.address.name}}" class="form-control" required>
                          <label for="">Address</label>
                          <input type="text" name="address" value="{{this.address.address}}" class="form-control"
                            required>
                          <label for="">Phone:</label>
                          <input type="number" name="phone" value="{{this.address.phone}}" class="form-control" min="0"
                            step="0.01" required>
                          <input type="text" name="id" value="{{this._id}}" hidden>

                          <label for="description">pincode</label>
                          <input type="text" name="pincode" value="{{this.address.pincode}}" class="form-control"
                            required>


                          <button type="submit"
                            onclick='return confirm("Are you sure do you want to edit this address ?")'
                            class="btn btn-primary mt-2">Edit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
        


            </div>
          </div>
        </div>

        <!-- Add more address cards here if needed -->
      </div>
      {{/each}}
    </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col">
      <div class="card my-4 shadow-3">
        <div class="row g-0">
          <div class="col-xl-6 d-xl-block bg-image">
            <img src="/public/project-images/delivery.png" alt="Sample photo"
            
              class="img-fluid" />
           
  <img src="/public/project-images/delivery gif.gif" alt="Delivery GIF" class="img-fluid gif-image"/>

          
          </div>
          <div class="col-xl-6">
            <div class="card-body p-md-5 text-black">
              <h3 class="mb-4 text-uppercase">ADD ADDRESS</h3>
             <!-- Your existing code -->
                            {{#if errors}}
                  <ul class="error-messages" >
                    {{#each errors}}
                      <li style="color: red;">*{{this}}</li>
                    {{/each}}
                  </ul>
                {{/if}}

               {{#if addAddress}}
                <script>                 
                  Swal.fire({
                    title: 'Address Successfully added',
                    text: 'Keep Going',
                    icon: 'success',
                    confirmButtonText: 'OK'
                  });
                </script>
              {{/if}}

<!-- Your existing code -->

              <form  id="addressForm" action="/add-address" method="post" >

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1m" name="name" class="form-control form-control-lg" />
                    <label class="form-label" name="name" for="form3Example1m">name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="phone" id="form3Example1n" name="phone" class="form-control form-control-lg" />
                    <label class="form-label" name="phone" for="form3Example1n">Phone</label>
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example8" name="address" class="form-control form-control-lg" />
                <label class="form-label" name="address" for="form3Example8">Address</label>
              </div>

 
{{!-- 
              <div class="row">
                 <div class="col-md-6 mb-4">

                  <select class="select">
                    <option value="1">Distric</option>
                    <option value="Alappuzha">Alappuzha</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Eranakulam">Eranakulam</option>
                  </select>

                </div> 
                 <div class="col-md-6 mb-4">

                  <select class="select">
                    <option value="1">City</option>
                    <option value="Alappuzha">Alappuza</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Eranakulam">Eranakulam</option>
                  </select>

                </div> 
              </div>  --}}

              <div class="form-outline mb-4">
                <input type="text" id="form3Example3" name="pincode" class="form-control form-control-lg" />
                <label class="form-label" name="pincode" for="form3Example3">Pincode</label>
              </div>
               <input type="text" name="userId" id="" value="{{users._id}}" hidden>
              {{!-- <div class="form-outline mb-4">
                <input type="text" id="form3Example2" name="landmark" class="form-control form-control-lg" />
                <label class="form-label" name="landmark" for="form3Example2">Landmark</label>
              </div> --}}

              <div class="d-flex justify-content-end pt-3">
                <button type="submit" class="btn btn-success btn-lg ms-2"
                  style="background-color:hsl(60, 99%, 35%) ">ADD ADDRESS</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    
</body>
{{!-- <!-- Your existing code -->
<script>
  $(document).ready(function() {
  $('#addressForm').submit(function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Perform AJAX request to submit the form
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: $(this).serialize(),
      success: function(response) {
        Swal.fire({
          position: 'top-end',
          icon: 'success',
          title: 'Address successfully added',
          showConfirmButton: false,
          timer: 1500
        }).then(function() {
          // Redirect to the success page
          window.location.href = '/add-address';
        });
      },
      error: function(error) {
        console.log(error);
        // Handle error case if needed
      }
    });
  });
});

</script> --}}


<!-- Your existing code -->
